<mat-card style="margin: 10px;">
  <mat-card-title>{{ newsItem.title }}</mat-card-title>
  <mat-card-subtitle>{{ newsItem.datetime }}</mat-card-subtitle>
  <mat-card-content>
          <img mat-card-sm-image *ngIf="newsItem.image"
               [src]="'http://localhost:5000/' + '/uploads/' + newsItem.image"
               [alt]="newsItem.title">
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="news-details" mat-raised-button>view full</a>
    <button mat-raised-button>delete</button>
  </mat-card-actions>
</mat-card>
